</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">© YelpCamp 2017 | 
        <a href="/campgrounds">Home</a>
         | 
         <a href="/campgrounds/new">New Campground</a></p>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>