/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}


/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */

.container .text-muted {
    margin: 20px 0;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.form {
    width: 30%;
    margin: 40px auto;
}

.form-title {
    text-align: center;
}

.padded {
    padding: 0 15px;
    padding-bottom: 5px;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}


#inline {
    display: inline;
}

#map {
    height: 400px;
    width: 100%
}
