.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.form {
    width: 30%;
    margin: 40px auto;
}

.form-title {
    text-align: center;
}

.padded {
    padding: 0 15px;
    padding-bottom: 5px;
}

#inline {
    display: inline;
}
